:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-green-dark: #367315;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-darkblue: #293449;
  --basic-bluelight: #32425C;
  --basic-background: #F1F5F7;
  --white: #FFFFFF;
  --black: #000000;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-orange: #FFC047;
  --special-orangelight: #FFDA96;
  --special-greylight: #A9A9A9;
  --special-beige: #F9F5F0;
  --special-begielight: #F7F3EC;
  --special-white: #F3F7F9;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --mistake: #BA2732;
  --border-color: #EAEAEA;
  --border-button: #E5E5E5;
  --background-modal: #F4F4F4;
  --background-modal-confirmation: #F1F1F1;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  visibility: hidden;
  opacity: 0;
  font-size: 0;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header {
  background-color: var(--basic-background);
  margin-bottom: 59px;
}

.header-top {
  margin-bottom: -5px;
  background-color: var(--basic-darkblue);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.flex-container-center {
  align-items: center;
}

.header-top-logo {
  display: block;
  margin-bottom: -5px;
  padding-left: 55px;
  padding-right: 57px;
  padding-top: 12px;
  padding-bottom: 17px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-top-search {
  width: 271px;
  color: var(--white);
  font: inherit;
  background-color: transparent;
  border: none;
}

.header-top-search-form {

}
.header-top-order-navigation {
display: flex;

}

.header-top-button {
  display: block;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 43px;


}

.header-top-button-green {
  padding-right: 16px;
  padding-left: 19px;
  background-color: var(--basic-green);
}

.header-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 40px;

}

.header-info-block {
 text-align: center;
}

.header-info-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding-left: 30px;
  margin: 0;
}

.header-info-phone {
  display: block;
  padding-top: 4px;
  padding-right: 42px;
  padding-bottom: 5px;
  padding-left: 71px;
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--white);
}

.header-info-address {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: var(--basic-bluelight);
}

.user-navigation {
  margin-top: -25px;
}

.user-navigation-link {
  display: inline-block;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

.user-navigation-text {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-bluelight);
}

.user-navigation-login {
}

.main-navigation {
  background-color: var(--basic-bluelight);
  box-shadow: inset 0px -5px 0px var(--basic-darkblue);
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-right: 47px;
  padding-bottom: 20px;
  padding-left: 52px;

  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main-navigation-link {
}

.category {

}

.category-list-flex {
  display: flex;
  justify-content: space-between;
}

.category-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.category-banner {
  width: 277px;
  padding-top: 20px;

  padding-bottom: 21px;
  padding-left: 23px;
  background-color: var(--special-yellow);
}

.category-banner-text {
  margin: 0;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.category-banner-link {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.30);
}

.category-banner-margin {
  margin-top: 20px;
}

.category-banner-blue {
  background-color: var(--special-blue);
}

.category-banner-tool {

}

.category-banner-lilac {
  background-color: var(--special-lilac);
}

.category-banner-technic {

}

.category-banner-greenlight {
  background-color: var(--special-greenlight);
}

.category-banner-discount {

}

.category-banner-orange {
  background-color: var(--special-orange);
}

.category-banner-delivery {

}

.category-slide {
  display: flex;
  flex-direction: column;
  width: 620px;
}

.category-slide-none {
  display: none;
}

.category-slide-image {
  display: block;

}

.category-slide-background {
  position: absolute;
  width: 596px;
  margin-bottom: -104px;
  padding-top: 23px;
  padding-bottom: 16px;
  padding-left: 24px;
  order: -1;
  background-color: rgba(0, 0, 0, 0.25);
}

.category-slide-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.category-slide-text {
  margin: 0;
}

.category-slide-button {
  margin-top: -144px;
  padding-right: 20px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
}

.category-slide-button-bottom {
  box-sizing: border-box;
  display: flex;
  margin-top: 57px;
}

.category-slide-button-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  padding-left: 79px;
  list-style: none;
}

.category-slider-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 59px;
}

.button {
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--white);
  min-width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.category-button {
  margin-left: 24px;
}

.accent {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 38px;
  padding-left: 28px;
  background-color: var(--special-beige);
}

.accent-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-bluelight);
}

.product-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.product {
  width: 220px;
  min-height: 318px;
  margin-top: 20px;
  border: 1px solid var(--border-color);
}

.product-image-max-height {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 164px;
}

.product-image {
  background-color: var(--basic-bluelight);
}

.product-title {
  text-align: center;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 7px;
  padding: 0;
}

.price {
  color: inherit;
  margin: 0;
  padding: 0;
}

.price-ticket {


}

.old-price {
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 13px;
  color: var(--special-greylight);
}

.button-buy {
  display: none;
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.button-bookmark {
  display: none;
  color: var(--basic-bluelight);
  background-color: var(--white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.maker {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


.maker-item {
  margin-top: 20px;
}

.maker-link {
  width: 220px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
}

.maker-logo {
  display: block;
  list-style: none;
  background: var(--white);
}

.service {
  background-color: var(--basic-background);
  padding-top: 64px;
}

.title-style {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.service-title-blue {
  color: var(--basic-bluelight);
  padding: 0;
}

.text-style {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: var(--black);
  margin: 0;
  margin-top: 24px;
  padding: 0;
}

.slider-service-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container-service {
  margin-top: 70px;
}

.slide-service-image {
  display: block;
}

.slide-service-none {
  display: none;
}

.radio-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--basic-bluelight);
}

.radio-button-active {
  background-color: var(--white);
  color: var(--basic-bluelight);
}

.button-border {
  border-radius: 2px;
}

.details {
  padding-top: 70px;
  padding-bottom: 70px;
}

.details-info-list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  color: var(--black);
}

.details-info-item {
  margin-bottom: 12px;
}

.details-info-image {
  display: block;
  margin-top: 32px;
  margin-bottom: 25px;
  background-color: var(--special-greylight);
}

.details-info-button {
  display: inline-block;
}

.footer {
  background-color: var(--basic-bluelight);
}

.footer-logo {
  margin-bottom: 22px;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-menu {
  padding-bottom: 54px;
}

.footer-menu-address {
  margin: 0;
  color: var(--special-white);
}

.footer-menu-phone {
  display: block;
}

.footer-menu-list {
  min-width: 548px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 37px;
  list-style: none;
}

.footer-menu-list-padding {
  padding-left: 24px;
  margin-top: 34px;
}

.footer-menu-link {
  color: var(--basic-background);
}

.footer-menu-link-orange {
  color: var(--special-orangelight);
}

.footer-bottom-text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom {
  padding-top: 36px;
  padding-bottom: 35px;
  background-color: var(--basic-darkblue);
}

.footer-bottom-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.footer-bottom-text-orange {
  display: block;
  color: var(--special-orangelight);
}

.order-modal-text {
  color: var(--black);
}

.input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: var(--special-greylight);
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
}

.order-modal-chunk {
  background-color: var(--background-modal);
}

.main-catalog {

}

.breadcrumbs {
  margin-top: -38px;
  margin-bottom: 20px;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-catalog-filter {
  margin-top: 20px;
}

.filter-block {
  width: 220px;
  margin-right: 20px;
}

.catalog-text-style {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: var(--black);
}

.breadcrumbs-item {
  padding-right: 40px;
}

.accent-title-catalog {
  box-sizing: border-box;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  background-color: var(--basic-background);
}

.catalog-text-background {
  padding-left: 18px;
  background-color: var(--special-begielight);
}

.form-rate {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.form-rate-block {
  border: none;
  padding: 0;
  margin: 0;
}

.form-rate-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-rate-item {
  margin-bottom: 20px;
}

.form-rate-title {
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
}

.form-rate-button {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid var(--border-button);
  text-transform: uppercase;
}

.pagination {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  margin-right: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid var(--border-button);
}

.pagination-link-active {
  background-color: var(--basic-red);
  color: var(--light);
  border: none;
}

.description {
  margin-top: 59px;
  padding-top: 64px;
  padding-bottom: 68px;
  background-color: var(--basic-background);
}

.confirmation-modal-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
}

.confirmation-modal-bottom {
 background-color: var(--background-modal-confirmation);
}

.button-white {
  background-color: var(--white);
  color: var(--black);
}

.map-modal {
  display: none;
}
.order-modal {
  display: none;
}

.confirmation-modal {
  display: none;
}
