:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-green-dark: #367315;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-darkblue: #293449;
  --active-darkblue: #1D2739;
  --basic-bluelight: #32425C;
  --basic-background: #F1F5F7;
  --white: #FFFFFF;
  --black: #000000;
  --red-dark: #CA2C37;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-orange: #FFC047;
  --special-orangelight: #FFDA96;
  --special-greylight: #A9A9A9;
  --special-beige: #F9F5F0;
  --special-begielight: #F7F3EC;
  --special-white: #F3F7F9;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --mistake: #BA2732;
  --border-color: #EAEAEA;
  --border-button: #E5E5E5;
  --background-modal: #F4F4F4;
  --background-modal-confirmation: #F1F1F1;
  --special-extra-greylight: #D7DCDE;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header {
  background-color: var(--basic-background);
}

.header-top {
  background-color: var(--basic-darkblue);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.flex-container-center {
  align-items: center;
}

.header-top-logo-link {
  display: block;
  margin-bottom: -5px;
  padding-left: 55px;
  padding-right: 57px;
  padding-top: 12px;
  padding-bottom: 17px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-top-logo {
  display: block;
}

.header-top-logo-link:active {
  background-color: var(--mistake);
}

.header-top-logo-link:not([href]) {
  background-color: var(--basic-red);
}

.header-top-search {
  width: 100%;
  padding-top: 9px;
  padding-left: 42px;
  padding-bottom: 9px;
  color: var(--white);
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 1;
}

.header-top-search:focus {
  color: var(--black);
  background-color: var(--white);
}

.header-top-search::placeholder {
  color: var(--white);
  background-color: transparent;
}

.header-top-search-svg {
  position: absolute;
  left: 17px;
  top: 12px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
}

.header-top-search:hover + .header-top-search-svg {
  opacity: 1;
  background-color: transparent;
}

.header-top-search:focus + .header-top-search-svg path {
  fill: var(--basic-red);
  opacity: 1;
}

.header-top-search:active + .header-top-search-svg path {
  fill: var(--basic-red);
}

.header-top-search-svg:hover,
.header-top-search-svg:focus {
  opacity: 1;
}

.header-top-search-form {
  position: relative;
  flex-grow: 1;

}

.header-top-order-navigation {
  display: flex;
}

.header-top-button {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 8px;
  padding-left: 30px;
}

.header-top-button-bookmark {
  padding-right: 40px;
}

.header-top-button-bookmark::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 13px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top-button-bookmark:hover::before,
.header-top-button-bookmark:focus::before {
  opacity: 1;
}

.header-top-button-bookmark:active::before {
  opacity: 0.3;
}

.header-top-button-cart::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 13px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top-button-cart:hover::before,
.header-top-button-cart:focus::before {
  opacity: 1;
}

.header-top-button-cart:active::before {
  opacity: 0.3;
}

.header-top-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--active-darkblue);
}

.header-top-button-active {
  background-color: var(--basic-red);
}

.header-top-button-green {
  height: auto;
  padding-right: 16px;
  padding-left: 19px;
  background-color: var(--basic-green);
}

.header-top-button-green:hover,
.header-top-button-green:focus {
  background-color: var(--success);
}

.header-info {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;

}

.header-info-block {
  width: 270px;
  margin-left: 35px;
  text-align: center;
}

.header-info-text {
  width: 197px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding-left: 30px;
  margin: 0;
}

.header-info-phone {
  position: relative;
  display: block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 5px;
  padding-left: 46px;
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--white);
  box-sizing: border-box;
}

.header-info-phone::before {
  content: "";
  position: absolute;
  left: 35px;
  top: 10px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-info-address {
  padding: 0;
  margin: 0;
  margin-top: 2px;
  font-size: 14px;
  color: var(--basic-bluelight);
}

.user-navigation {
  position: relative;
}

.user-navigation-personal {
  position: relative;
  margin-top: 7px;
  display: flex;
}

.user-navigation-personal::before {
  content: "";
  position: absolute;
  left: 139px;
  top: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--basic-bluelight);
}

.user-navigation-link {
  margin-left: 7px;
  display: inline-block;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 25px;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: var(--basic-red);
}

.user-navigation-link:active {
  color: var(--basic-greylight);
}

.user-navigation-link-login {
  padding-left: 45px;
}

.user-navigation-link-login-svg {
  content: "";
  position: absolute;
  left: 26px;
  top: 14px;
  width: 20px;
  height: 17px;
}

.user-navigation-link-login:hover path,
.user-navigation-link-login:focus path {
  fill: var(--basic-grey);
}

.user-navigation-link-login:active path {
  fill: var(--basic-greylight);
}

.user-navigation-text {
  margin-left: 50px;
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-bluelight);
}

.user-navigation-text:hover,
.user-navigation-text:focus {
  color: var(--basic-red);
}

.user-navigation-text:active {
  color: var(--basic-greylight);
}

.user-navigation-account {
  margin-left: 30px;
}

.user-navigation-login {
  position: relative;
  padding-left: 56px;
  padding-right: 57px;
}

.user-navigation-login-svg {
  position: absolute;
  top: 13px;
  left: 15px;
}

.user-navigation-login:hover .user-navigation-login-svg path,
.user-navigation-login:focus .user-navigation-login-svg path {
  fill: var(--basic-grey);
}

.user-navigation-login:active .user-navigation-login-svg path {
  fill: var(--basic-greylight);
}

.user-navigation-logout-svg {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
  padding-top: 14px;
  padding-right: 17px;
  padding-left: 18px;
}

.user-navigation-logout-svg:hover path,
.user-navigation-logout-svg:focus path {
  fill: var(--basic-grey);
}

.user-navigation-logout-svg:active path {
  fill: var(--basic-greylight);
}

.main-navigation {
  background-color: var(--basic-bluelight);
  box-shadow: inset 0px -5px 0px var(--basic-darkblue);
  margin-top: 39px
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-right: 19px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main-navigation-item {
  flex-grow: 1;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}

.main-navigation-link {
  padding-top: 16px;
  padding-bottom: 15px;
  display: block;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  background-color: var(--basic-darkblue);
}

.main-navigation-link:active {
  background-color: var(--active-darkblue);
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation-link:not([href]) {
  background-color: var(--basic-bluelight);
  color: var(--white);
}

.category {
  margin-top: 59px;
}

.category-list-flex {
  display: flex;
  justify-content: space-between;
}

.category-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.category-item {
  position: relative;
}

.category-banner {
  width: 277px;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 23px;
  background-color: var(--special-yellow);
}

.category-banner-text {
  margin: 0;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.category-banner-link {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.30);
}

.category-banner-link:hover,
.category-banner-link:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.category-banner-link:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.category-banner-margin {
  margin-top: 20px;
}

.category-banner-paint {
  position: relative;
}

.category-banner-paint::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-1.svg");
  left: 213px;
  top: 31px;
  width: 44px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-banner-blue {
  background-color: var(--special-blue);
}

.category-banner-tool {
  position: relative;
}

.category-banner-tool::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-2.svg");
  left: 194px;
  top: 34px;
  width: 75px;
  height: 61px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-banner-lilac {
  background-color: var(--special-lilac);
}

.category-banner-technic {
  position: relative;
}

.category-banner-technic::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-3.svg");
  left: 191px;
  top: 31px;
  width: 78px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-banner-greenlight {
  background-color: var(--special-greenlight);
}

.category-banner-discount {
  position: relative;
}

.category-banner-discount::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-4.svg");
  left: 196px;
  top: 26px;
  width: 59px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-banner-orange {
  background-color: var(--special-orange);
}

.category-banner-delivery {
  position: relative;
}

.category-banner-delivery::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-5.svg");
  left: 191px;
  top: 32px;
  width: 78px;
  height: 63px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-slider {
  position: relative;
}

.category-slide {
  display: none;
  flex-direction: column;
  width: 620px;
  min-height: 266px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 27px;
}

.category-slide-active {
  display: flex;
}

.category-slide-image {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.category-slide-background {
  padding-top: 23px;
  padding-bottom: 16px;
  padding-left: 24px;
  background-color: rgba(0, 0, 0, 0.25);
}

.category-slide-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.category-slide-text {
  margin: 0;
}

.category-slide-button {
  padding-right: 20px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 120px;
}

.category-slide-button-left {
  width: 22px;
  height: 44px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-slide-button-right {
  width: 22px;
  height: 44px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(-180deg);
}

.category-slide-button-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 316px;
  transform: translateX(-50%);
  bottom: 28px;
}

.category-slide-button-bottom {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  background-image: url("../img/radio-off-slider.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-slide-button-bottom-active {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  background-image: url("../img/radio-on-slider.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-slider-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 59px;
}

.button {
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--white);
  min-width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--red-dark);
}

.button:active {
  background-color: var(--mistake);
}

.category-button {
  width: 192px;
  margin-left: 24px;
  margin-top: auto;
}

.category-button:hover,
.category-button:focus {
  background-color: var(--red-dark);
}

.category-button:active {
  background-color: var(--mistake);
}

.accent {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-right: 14px;
  padding-bottom: 5px;
  padding-left: 28px;
  background-color: var(--special-beige);
}

.accent-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-bluelight);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 70px;
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.product-list-catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0px;
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.product {
  position: relative;
  width: 220px;
  min-height: 318px;
  padding-top: 8px;
  margin-top: 18px;
  margin-right: 20px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.product:focus-within .product-bookmark {
  opacity: 1;
}

.product:hover,
.product:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 70px;
  height: 70px;
  background-image: url("../img/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.new::after {
  content: "NEW";
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
}

.product-list-catalog .product:nth-child(3n) {
  margin-right: 0;
}

.product-list .product:nth-child(4n) {
  margin-right: 0;
}

.product-image-max-height {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 164px;
}

.product:hover .product-image-max-height {
  opacity: 0;
}

.product-image {
  background-color: var(--basic-bluelight);
}

.product-bookmark {
  opacity: 0;
  position: absolute;
  top: 34px;
  left: 40px;
  background-color: var(--white);
  z-index: 1;
}

.product:hover .product-bookmark {
  opacity: 1;
}

.product-title {
  width: 185px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 7px;
  padding: 0;
}

.price {
  position: relative;
  color: var(--white);
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.price::before {
  content: "";
  position: absolute;
  width: 141px;
  height: 38px;
  left: 45px;
  top: -9px;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -1;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 13px;
  color: var(--special-greylight);
}

.old-price-visually-hidden {
  visibility: hidden;
  opacity: 0;
}

.button-buy {
  position: relative;
  display: block;
  min-width: 135px;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  box-sizing: border-box;
}

.button-buy::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 10px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-buy:hover,
.button-buy:focus {
  background-color: var(--success);
}

.button-buy:active {
  background-color: #518534;
}

.button-bookmark {
  display: block;
  min-width: 135px;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  color: var(--basic-bluelight);
  background-color: var(--white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  box-sizing: border-box;

}

.button-bookmark:hover,
.button-bookmark:focus {
  background-color: var(--white);
  border: 3px solid var(--basic-bluelight);
}

.button-bookmark:active {
  opacity: 0.5;
}

.maker {
  margin-top: 0px;
  margin-bottom: 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.maker .maker-item:nth-child(4n) {
  margin-right: 0;
}

.maker-item {
  margin-top: 20px;
  margin-right: 20px;
}

.maker-link {
  width: 220px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.maker-link:hover,
.maker-link:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.maker-link:active {
  opacity: 0.5;
}

.maker-logo {
  display: block;
  list-style: none;
  background: var(--white);
}

.service {
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 100px;
}

.title-style {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--black);
}

.service-title-blue {
  width: 305px;
  color: var(--basic-bluelight);
  padding: 0;
}

.text-style {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: var(--black);
  margin: 0;
  margin-top: 26px;
  padding: 0;
}

.delivery-text {
  width: 275px;
}

.guarantee-text {
  width: 313px;
}

.credit-text {
  width: 280px;
  margin-bottom: 28px;
}

.slider-service-list {
  position: relative;
  width: 240px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-service-item::after {
  content: "";
  position: absolute;
  background-image: url("../img/shadow_object.png");
  left: 230px;
  top: -49px;
  width: 10px;
  height: 279px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.25;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container-none-space-between {
  display: flex;
  align-items: center;
}

.flex-container-service {
  display: flex;
  margin-top: 70px;
}

.slide-service-image {
  display: block;
}

.slide-service-image-delivery {
  position: absolute;
  top: 18px;
  right: 0;
  width: 468px;
  height: 261px;
}

.slide-service-image-guarantee {
  position: absolute;
  top: 0;
  right: 0;
  width: 389px;
  height: 283px;
}

.slide-service-image-credit {
  position: absolute;
  top: 0;
  right: 0;
  width: 465px;
  height: 285px;
}

.slide-service {
  display: none;
}

.slide-service-active {
  position: relative;
  width: 619px;
  display: block;
  margin-left: 80px;
}

.slider-service-item {
  width: 100%;
}

.slider-service-input {
  display: none;
}

.radio-button {
  display: block;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 22px;
  background-color: var(--basic-bluelight);
  box-sizing: border-box;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.radio-button:hover,
.radio-button:focus {
  background-color: var(--active-darkblue);
}

.radio-button-active {
  background-color: var(--white);
  color: var(--basic-bluelight);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.radio-button-active:hover,
.radio-button-active:focus,
.radio-button-active:active {
  background-color: var(--white);
  color: var(--basic-bluelight);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.button-border {
  border-radius: 2px;
  display: inline-block;
}

.details {
  padding-top: 70px;
  padding-bottom: 69px;
}

.details-info {
  width: 470px;
}

.details-contacts {
  width: 300px;
}

.details-info-list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  color: var(--black);
}

.details-info-item {
  position: relative;
  margin-bottom: 13px;
  padding-left: 37px;
}

.details-info-item::before {
  content: "";
  position: absolute;
  left: 0;
  top:50%;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.details-info-image {
  display: block;
  margin-top: 32px;
  margin-bottom: 25px;
  background-color: var(--special-greylight);
}

.details-info-button {
  display: block;
  width: 220px;
}

.footer {
  background-color: var(--basic-bluelight);
}

.footer-logo {
  display: block;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 18px;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-logo-link:active {
  background-color: var(--mistake);
}

.footer-logo-link:not([href]) {
  background-color: var(--basic-red);
}

.footer-menu {
  padding-bottom: 53px;
}

.footer-menu-address {
  margin: 0;
  color: var(--special-white);
}

.footer-menu-phone {
  display: block;
}

.footer-menu-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-top: 37px;
  list-style: none;
}

.footer-menu-link {
  color: var(--basic-background);
  margin-left: 59px;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  text-decoration-line: underline;
}

.footer-menu-link:active {
  opacity: 0.5;
  text-decoration-line: none;
}

.footer-menu-link-orange {
  color: var(--special-orangelight);
}

.footer-bottom-text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom-text-communication {
  margin-left: 50px;
}

.footer-bottom-communication:hover,
.footer-bottom-communication:focus {
  text-decoration-line: underline;
}

.footer-bottom-communication:active {
  color: var(--basic-red);
  text-decoration-line: none;
}

.reserved-text {
  width: 227px;
  margin: 0;
}

.footer-bottom {
  padding-top: 36px;
  padding-bottom: 35px;
  background-color: var(--basic-darkblue);
}

.footer-bottom-block {
  justify-content: flex-start;
}

.footer-bottom-list {
  padding: 0;
  margin: 0;
  margin-left: 165px;
  margin-right: 115px;
  list-style: none;
  display: flex;
}

.footer-social-button {
  display: block;
  border-radius: 50%;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  background-color: var(--active-darkblue);
}

.footer-social-button:hover,
.footer-social-button:focus,
.footer-social-button:active {
  background-color: var(--basic-red);
}

.footer-social-button-vk {
  position: relative;
}

.footer-social-button-vk::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 15px;
  margin-top: -7px;
  margin-left: -13px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-social-button-fb {
  position: relative;
}

.footer-social-button-fb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 22px;
  margin-top: -11px;
  margin-left: -6px;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-social-button-insta {
  position: relative;
}

.footer-social-button-insta::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 21px;
  margin-top: -11px;
  margin-left: -10px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-bottom-text-orange {
  display: block;
  color: var(--special-orangelight);
}

.order-modal-text {
  color: var(--black);
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 11px;
}

.input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  height: 38px;
  padding-left: 12px;
  color: var(--special-greylight);
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
}

.order-modal-chunk {
  width: 100%;
  margin-top: 30px;
  padding-top: 37px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;
  background-color: var(--background-modal);
  box-sizing: border-box;
}

.order-modal-button {
  width: 100%;
}

.breadcrumbs {
  position: relative;
  margin-top: 21px;
  margin-bottom: 20px;
  padding-left: 10px;
  box-sizing: border-box;
}

.breadcrumbs::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  left: 0;
  top: 3px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-catalog-filter {
  margin-top: 20px;
}

.filter-block {
  width: 220px;
  margin-right: 20px;
}

.catalog-text-style {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: var(--black);
  margin-right: auto;
}

.form-rate-link {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
  opacity: 0.3;
}

.form-rate-link:not([href]) {
  color: var(--basic-red);
  opacity: 1;
  text-decoration: none;
}

.form-rate-link:not([href]):hover,
.form-rate-link:not([href]):focus {
  text-decoration: none;
}

.form-rate-link:hover,
.form-rate-link:focus {
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
  opacity: 1;
}

.breadcrumbs-item {
  position: relative;
  padding-left: 43px;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  left: 18px;
  top: 3px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.accent-title-catalog {
  box-sizing: border-box;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  background-color: var(--basic-background);
}

.catalog-text-background {
  background-color: var(--special-begielight);
  border-radius: 2px;
  padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.catalog-list-block {
  width: 700px;
}

.form-rate {
  width: 220px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
  margin-right: 20px;
}

.form-rate-block {
  border: none;
  padding: 0;
  margin: 0;
}

.form-rate-block-power {
  margin-top: 25px;
}

.form-rate-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-triangle {
  width: 0;
  height: 0;
  margin-right: 20px;
  border-bottom: 11px solid var(--basic-greylight);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: block;
}

.catalog-triangle:hover
.catalog-triangle:focus {
  border-bottom: 11px solid var(--black);
}

.catalog-triangle:not([href]) {
  border-bottom: 11px solid var(--basic-red);
}

.catalog-triangle-down {
  width: 0;
  height: 0;
  border-top: 11px solid var(--basic-greylight);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: block;
}

.catalog-triangle-down:hover,
.catalog-triangle-down:hover {
  border-top: 11px solid var(--black);
}

.catalog-triangle-down:not([href]) {
  border-top: 11px solid var(--basic-red);
}

.form-rate-item {
  padding-left: 35px;
  margin-bottom: 21px;
}

.checkbox-icon {
  position: absolute;
  top: -3px;
  left: -36px;
  display: block;
  background-image: url("../img/checkbox-off.svg");
  width: 23px;
  height: 23px;
  opacity: 0.8;
}

.form-rate-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:checked + .checkbox-icon {
  content: "";
  position: absolute;
  display: block;
  top: -3px;
  left: -36px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + .checkbox-icon {
  opacity: 1;
}

.filter-input-checkbox:focus + .checkbox-icon {
  opacity: 1;
  outline: 1px solid #307896;
}

.filter-input-checkbox:disabled + .checkbox-icon {
  opacity: 0.3;
}

.radio-icon {
  position: absolute;
  top: -4px;
  left: -35px;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.8;
}

.filter-input-radio:checked + .radio-icon {
  content: "";
  position: absolute;
  top: -4px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + .radio-icon {
  opacity: 1;
}

.filter-input-radio:focus + .radio-icon {
  opacity: 1;
  outline: 1px solid #307896;
}

.filter-input-radio:disabled + .radio-icon {
  opacity: 0.3;
}

.form-rate-item-sorting {
  margin-right: 45px;
  margin-left: 24px;
}

.form-rate-title {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
}

.form-rate-title-manufacturers {
  margin-bottom: 18px;
}

.form-rate-title-power {
  margin-bottom: 25px;
}

.form-rate-button {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 16px;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid var(--border-button);
  text-transform: uppercase;
  cursor: pointer;
}

.form-rate-button:hover,
.form-rate-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--black);
}

.form-rate-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-bottom: 42px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--special-begielight);
  border-radius: 2px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.price-controls::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 105px;
  width: 10px;
  height: 2px;
  background-color: var(--black);
}

.price-controls input {
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  padding: 10px;
  padding-left: 25px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 2px;
  background-color: var(--special-begielight);
  box-sizing: border-box;
}

.scale {
  background-color: var(--special-extra-greylight);
  height: 2px;
}

.bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-green);
}

.toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--basic-greylight);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.pagination {
  justify-content: flex-start;
  margin: 0;
  margin-top: 44px;
  padding: 0;
  list-style: none;
  align-items: center;
}

.pagination-link {
  display: block;
  margin-right: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid var(--border-button);
}

.pagination-link:hover,
.pagination-link:focus {
  border-color: var(--basic-greylight);
}

.pagination-link:active {
  border-color: var(--basic-red);
}

.pagination-link:not([href]) {
  background-color: var(--basic-red);
  color: var(--light);
  border: none;
}

.pagination-link-button {
  width: 140px;
  box-sizing: border-box;
}

.description {
  margin-top: 59px;
  padding-top: 64px;
  padding-bottom: 68px;
  background-color: var(--basic-background);
}

.confirmation-modal-text {
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-top: 67px;
  margin-left: 99px;
  margin-bottom: 69px;
  padding: 0;
  padding-left: 79px;
  color: var(--black);
}

.confirmation-modal-text::before {
  content: "";
  position: absolute;
  left: -17px;
  top: -20px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.confirmation-modal-bottom {
  background-color: var(--background-modal-confirmation);
  padding-top: 37px;
  padding-right: 114px;
  padding-bottom: 37px;
  padding-left: 114px;
}

.button-white {
  background-color: var(--white);
  color: var(--black);
}

.button-white:hover,
.button-white:focus {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--black);
}

.button-white:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.map-modal {
  position: fixed;
  display: none;
  background-color: var(--white);
  width: 943px;
  top: 150px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border:0;
  border-top: 7px solid var(--basic-red);
}

.order-modal {
  position: fixed;
  top: 150px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  display: none;
  width: 620px;
  padding-top: 28px;
  padding-right: 0;
  padding-left: 0;
  background-color: var(--white);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.order-modal-close {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.order-modal-container {
  margin-right: 80px;
  margin-left: 80px;
}

.order-modal-section {
  width: 220px;
}

.order-modal-section-textarea {
  display: block;
}

.input-entry-field {
  width: 460px;
  height: 114px;
  padding-top: 7px;
}

.order-modal-input {
  width: 100%;
}

.confirmation-modal {
  display: none;
  position: fixed;
  width: 620px;
  top: 150px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  background-color: var(--white);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
